.background {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-image: url(images/sailboat-compressed.jpg);
	animation: 1s ease 0s normal forwards 1 fadein;
	-webkit-animation: 1s ease 0s normal forwards 1 fadein; /* Safari 4+ */
  	-moz-animation: 1s ease 0s normal forwards 1 fadein; /* Fx 5+ */
  	-o-animation: 1s ease 0s normal forwards 1 fadein; /* Opera 12+ */
	min-height: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}

@-webkit-keyframes fadein {
 	0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes fadein {
	0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}

@-o-keyframes fadein {
	0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}

@keyframes fadein {
	0% { opacity:0; }
    33% { opacity:0; }
    100% { opacity:1; }
}

body, html {
	background-color: black;
	height: 100%;
  	margin: 0px;
  	padding: 0px;
}

ul {
	position: fixed;
	top: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
}

li a {
    display: block;
    color: white;
	font-family: courier;
	font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media screen and (min-width: 1200px) {
	li a {
		font-size: 22px;
	}
}

@media screen and (min-width: 950px) and (max-width: 1200px) {
	li a {
		font-size: 18px;
	}
}

@media screen and (min-width: 750px) and (max-width: 950px) {
	li a {
		font-size: 14px;
	}
}

@media screen and (max-width: 750px) {
	li a {
		font-size: 10px;
	}
}

li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 1);
}

.active {
    background-color: rgba(0, 0, 0, 1);
}

.sidefx-logo {
	width: 240px;
	height: 60px;
}

.bigroad-logo {
    width: 220px;
    height: 85px;
}

.toast-logo {
    width: 220px;
    height: 70px;
}

.google-logo {
    width: 220px;
    height: 80px;
}

.amazon-logo {
    width: 280px;
    height: 90px;
}

.waterloo-logo {
    width: 380px;
    height: 120px;
}

.image-180 {
	transform: rotate(180deg); 
}

.pdf-element {
	margin: 0px auto;
	width: 700px;
}

.iframe-pdf {
	width: 700px;
	height: 900px;
	border-style: none;
}

.video-element {
	margin: 0px auto;
	width: 630px;
}

.iframe-video {
	width: 630px;
	height: 400px;
}

.post {
    text-align: left;
    font-family: courier;
    font-weight: bold;
    color: rgb(242, 242, 242);
    background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
    padding: 20px;
	margin: 50px auto;
	width: 715px;
}

.first-post {
	margin-top: 0px;
}

.last-post {
	margin-bottom: 0px;
}

.post-image {
	margin: 20px auto;
	width: 650px;
	height: 400px;
}

.post-image img {
	width: 650px;
	height: 400px;
}

.post-image-vertical {
    margin: 20px auto;
    width: 650px;
    height: 500px;
}

.post-image-vertical-left {
    width: 315px;
    height: 500px;
	float: left;
}

.post-image-vertical-right {
    width: 315px;
    height: 500px;
	float: right;
}


.post h1,h2,h3,h4 {
	text-align: center;
    font-weight: inherit;
}

.post a {
	text-decoration: none;
	font-weight: inherit;
	color: inherit;
}

.post .icon {
    width: 25px;
    height: 25px;
}

.post .text-icon {
	width: 90px;
	height: 20px;
	margin: 0px;
}

.post h4 {
    margin-top: 0px;
    margin-bottom: 30px;
}

#personal-details .profile-pic {
    width: 175px;
    height: 175px;
}

#personal-details h1,h2,h3,h4 {
	font-weight: inherit;
}

#personal-details {
	text-align: center;
	font-family: courier;
	font-weight: bold;
	color: rgb(242, 242, 242);
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	padding: 10px 20px;
	width: 500px;
	height: 420px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -198px);
}

#personal-details .icon {
	width: 25px;
	height: 25px;
}

#personal-details a {
    text-decoration: none;
    font-weight: inherit;
    color: inherit;
}

#personal-details h4 {
	margin-top: 0px;
	margin-bottom: 30px; 
}
