html {
	background-image: url(optimized-sailboat.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.show-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.hide-details {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -100%);
}

#personal-details {
	display: none;
	text-align: center;
	font-family: courier;
	color: rgb(242, 242, 242);
	background-color: rgba(163, 163, 163, .5);
	border-radius: 25px;
	padding: 20px;
}

.icon {
	width: 25px;
	height: 25px;
}

#personal-details h4 {
	margin-top: 0px;
	margin-bottom: 30px; 
}
