html {
	background-image: url(lessOptimizedSailboat.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
}

.show-details {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

#personal-details {
	display: none;
	text-align: center;
	font-family: courier;
	color: rgb(242, 242, 242);
	background-color: rgba(163, 163, 163, .5);
	border-radius: 25px;
	padding: 20px;
}

#personal-details .icon {
	width: 25px;
	height: 25px;
}

#personal-details h4 {
	margin-top: 0px;
	margin-bottom: 30px; 
}

#menu {
	position: fixed;
	left: 10px;
	right: 10px;
	width: 65px; /* same as menu icon width for hover state */
}

#menu-icon {
	width: 65px;
	height: 55px;
}

#menu-bar {
	width: 150px;
	height: 0px;
	color: rgb(242, 242, 242);
	text-align: center;
	overflow: hidden;
}

#menu-bar a {
	background-color: rgba(163, 163, 163, .5);
	display: block;
	padding: 10px;
	color: white;
	font-family: courier;
	font-size: 20px;
	padding-left: 0px;
	padding-right: 0px;
	text-decoration: none;
}

#menu-bar a:hover {
	background-color: rgba(123, 123, 123, .5);
}

.top-menu-item {
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.bottom-menu-item {
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

current-menu-item {
	text-decoration: bold;
}
